@model IEnumerable<TapPaymentIntegration.Models.InvoiceDTO.Invoice>
@{
    ViewData["Title"] = "CreateInvoice";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="padding: 0.5rem 1.25rem;">
                        <h4 class="text-center mb-0">Invoice List</h4>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-responsive-xl">
                            <thead>
                                <tr style="text-align:center!important">
                                    <th>Invoice Start Date</th>
                                    <th>Invoice End Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Subscription Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td style="text-align:center!important">
                                            @{
                                                DateTime sdateTime = Convert.ToDateTime(user.InvoiceStartDate);
                                                <span>@sdateTime.ToShortDateString()</span>
                                            }
                                        </td>
                                        <td style="text-align:center!important">
                                            @{
                                                DateTime edateTime = Convert.ToDateTime(user.InvoiceEndDate);
                                                <span>@edateTime.ToShortDateString()</span>
                                            }
                                        </td>
                                        <td style="text-align:center!important">@user.SubscriptionAmount</td>
                                        @if (user.Status == "Payment Captured")
                                        {
                                            <td style="text-align:center!important;color:green!important">@user.Status</td>
                                        }
                                        else
                                        {
                                        <td style="text-align:center!important">@user.Status</td>
                                        }
                                        <td style="text-align:center!important">@user.SubscriptionName</td>
                                        <td style="text-align:center!important">
                                            @if (user.Status != "Payment Captured")
                                            {
                                                <a class="btn btn-primary" href="@Url.Action("Index","TapPayment",new {id = user.InvoiceId, userid = user.UserId})">Pay Invoice</a>
                                                <a class="btn btn-danger" href="@Url.Action("DeleteInvoice","Home",new {id = user.InvoiceId, userid = user.UserId})">Delete Invoice</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,

            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>