@using TapPaymentIntegration.Utility
@model IEnumerable<TapPaymentIntegration.Models.InvoiceDTO.Invoice>
@{
    ViewData["Title"] = "ShowInvoice";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="padding: 0.5rem 1.25rem;">
                        <h4 class="text-center mb-0">Invoice List</h4>
                        @{
                            if (!string.IsNullOrEmpty(ViewBag.Message))
                            {
                                <h3 class="text-center mb-0" style="color:red!important">@ViewBag.MessageError</h3>
                            }
                        }
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-responsive-xl">
                            <thead>
                                <tr style="text-align:center!important">
                                    <th>Invoice No</th>
                                    <th>GYM Name</th>
                                    <th>Country</th>
                                    <th>Remarks</th>
                                    <th>Subscription Name</th>
                                    <th>Invoice Start Date</th>
                                    <th>Invoice End Date</th>
                                    <th>Subscription Currency</th>
                                    <th>VAT</th>
                                    <th>Discount</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var invoice in Model)
                                {
                                    <tr>
                                        <td style="text-align:center!important">
                                            @{
                                                var valw = "Inv" + @invoice.InvoiceId;
                                                <span>@valw</span>
                                            }
                                        </td>
                                        <td style="text-align:center!important">@invoice.GymName</td>
                                        <td style="text-align:center!important">@invoice.Country</td>
                                        <td style="text-align:center!important">@invoice.Remarks</td>
                                        <td style="text-align:center!important">@invoice.SubscriptionName</td>
                                        <td style="text-align:center!important">
                                            @{
                                                DateTime sdateTime = Convert.ToDateTime(invoice.InvoiceStartDate);
                                                <span>@sdateTime.ToString("dd/MM/yyyy")</span>
                                            }
                                        </td>
                                        <td style="text-align:center!important">
                                            @{
                                                DateTime edateTime = Convert.ToDateTime(invoice.InvoiceEndDate);
                                                <span>@edateTime.ToString("dd/MM/yyyy")</span>
                                            }
                                        </td>
                                        <td style="text-align:center!important">@invoice.Currency</td>
                                        <td style="text-align:center!important">@decimal.Round(Convert.ToDecimal(InvoiceHelper.TruncateAfterSpace(invoice.VAT)), 2)</td>
                                        <td style="text-align:center!important">@invoice.Discount</td>
                                        @if (invoice.Status == "Payment Captured")
                                        {
                                            <td style="text-align:center!important;color:green!important">@invoice.Status</td>
                                        }
                                        else if (invoice.Status == "Void")
                                        {
                                            <td style="text-align:center!important;color:red!important">@invoice.Status</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center!important">@invoice.Status</td>
                                        }
                                        <td style="text-align:center!important">
                                            @if (invoice.Status == "Void")
                                            {
                                                <span>-------</span>
                                            }
                                            else
                                            {
                                                @if (invoice.Status != "Payment Captured")
                                                {
                                                    <a class="btn btn-primary" href="@invoice.InvoiceLink">Pay Invoice</a>
                                                    <a class="btn btn-danger" href="@Url.Action("VoidInvoice","Home",new { invoiceid = invoice.InvoiceId})">Void Invoice</a>
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                                                        Change Invoice Status
                                                    </button>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-success" href="@Url.Action("ViewInvoice","Home",new {id = invoice.ChargeId, sub_id = invoice.SubscriptionId, userid = invoice.UserId,invoiceid = invoice.InvoiceId})">View Invoice</a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Manual Invoice Paid</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("SaveInvoiceManually", "Home", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            Email Invoice No#
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="emailinvoice" name="emailinvoice" required placeholder="Enter Email Invoice No#" pattern="^Inv\d+$" title="Must start with 'Inv' followed by one or more digits" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Remarks
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="remarks" name="remarks" required placeholder="Enter Remarks" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>
<br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,

            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>

